* {
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 60vh;
}
p {
 font-size: 2rem;
 text-align: center;
}

#mainMenu {
 font-size: 3rem;
}

@media (width > 800px) {
 #mainMenu {
  ul {
   flex-direction: row;
  }
 }
}
